<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.22.4">
      <projectUrl>https://github.com/RobBagby/cicddemo/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/RobBagby/cicddemo</url>
        <credentialsId>50ad9a2d-6ced-4b3b-8962-0d2e96cf70f9</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.22.4">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>docker build -t rbagby/sampleapp:%GIT_COMMIT% .</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>docker run -i -v &quot;%WORKSPACE%&quot;:c:\test --rm --entrypoint powershell rbagby/sampleapp:%GIT_COMMIT% powershell ./RunTests.ps1</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>docker login -e=rob@robbagby.com -u=%DOCKERHUB_UN% -p=%DOCKERHUB_PWD%&#xd;
docker push rbagby/sampleapp:%GIT_COMMIT%</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>docker-compose --verbose up -d --no-build</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.nunit.NUnitPublisher plugin="nunit@0.18">
      <testResultsPattern>TestResult.xml</testResultsPattern>
      <debug>false</debug>
      <keepJUnitReports>false</keepJUnitReports>
      <skipJUnitArchiver>false</skipJUnitArchiver>
      <failIfNoResults>true</failIfNoResults>
    </hudson.plugins.nunit.NUnitPublisher>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.10">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>2b518a13-1463-45a8-bde4-65ddf09e86a8</credentialsId>
          <usernameVariable>DOCKERHUB_UN</usernameVariable>
          <passwordVariable>DOCKERHUB_PWD</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>